body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: red;
}

.container {
  width: 80%;
  margin: 20px auto;
}

header {
  height: 15vh;
}

.row {
  width: 100%;
}

.mt {
  margin-top: 15px;
}

.p-bottom {
  padding-bottom: 10px;
}

.bg_pink {
  background-color: #E579E6;
}

.bg_green {
  background-color: #E1D67A;
}

.bg_lightgrey {
  background-color: #ABCFE7;
}

.bg_blue {
  background-color: #0086FC;
}

.section_1 {
  height: 400px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.col-100 {
  width: 100%;
}

.col_23 {
  width: 23.5%;
}

.col_50 {
  width: 50%;
}

.mb-10 {
  margin-bottom: 15px;
}

.mt-2 {
  margin-top: 2px;
}

.ml-5 {
  margin-left: 1.5%;
}
.mr-5 {
  margin-right: 1.5%;
}

[class^="col"] {
  float: left;
}
.h-450 {
  height: 450px;
}
.h-70 {
  height: 70px;

}
